---
layout: layouts/home.njk
title: pers
---
<div class="header_mobile">
    <div class="mobile_top btn-toggle">
        <h3>Categorie</h3>
        <i class="fa fa-angle-down"></i>
    </div>
    <div class="filter-nav">
        <ul class="nav_links">
            <li><a href="../">overzicht</a></li>
            <li><a href="../nieuws/">nieuws</a></li>
            <li><a class="active__project" href="#">pers</a></li>
        </ul>
    </div>
</div>
<div class="news__main">
    <div class="news__categories">
        <div class="news__navtitle">
            <h3>Nieuws categorie</h3>
        </div>
        <ul>
            <a href="../">
                <li>overzicht</li>
            </a>
            <a href="../nieuws">
                <li>nieuws</li>
            </a>
            <a href="#">
                <li class="active__news">pers</li>
            </a>
        </ul>
    </div>
    <div class="news__total">
        <div class="news__title">
            <h2>pers</h2>
            <div class="red_line"></div>
        </div>
        <div class="pers"></div>
        <ul>
            <a class="newsactive" href="#">
                <li>1</li>
            </a>
            <a href="#">
                <li>2</li>
            </a>
            <a href="#">
                <li>3</li>
            </a>
            <a href="#">
                <li>4</li>
            </a>
            <a href="#">
                <li>5</li>
            </a>
            <a href="#">
                <li>6</li>
            </a>
            <a href="#">
                <li>7</li>
            </a>
            <a href="#">
                <li>8</li>
            </a>
            <a href="#">
                <li>9</li>
            </a>
            <li class="news__dots">...</li>
            <a href="#">
                <li>Volgende ›</li>
            </a>
            <a href="#">
                <li>Laatste »</li>
            </a>
        </ul>
    </div>
</div>
<script src="{{ '/static/js/mobile_nav.js' | url}}"></script>