.slider-image1 {
  background-image: url(../../images/banner2.jpg);
  width: 96.1%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  transform: translateX(0%);
  transition-duration: 1;
}

.slider-image2 {
  background-image: url(../../images/banner3.jpg);
  width: 96.1%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.slider-image3 {
  background-image: url(../../images/banner.jpg);
  width: 96.1%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.slider-image1, .slider-image2, .slider-image3 {
  position: absolute;
  top: 0px;
  z-index: -1;

}

.slider {
  height: 100vh;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.header-slider {
  height: 300px;
}

.slider_square_button {
  height: 15px;
  z-index: 99999;
  margin-left: calc(var(--spacer)*16);
  margin-top: calc(var(--gutter)*13);
  width: 100px;
}

.slider_square_button button {
  width: 13px;
  height: 13px;
  display: inline-block;
  border: 1px solid white;
  z-index: 99999;
  background: transparent;
  margin-right: 7px;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.header-text-top {
  color: white;
  padding: 20px;
  position: absolute;
  top: 50vh;
  margin-left: 12%;
  margin-top: -100px;
}

.header-text-top>h1 {
  font-size: var(--font-size-h2);
}

.header-text-top a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.header-text-lees-meer {
  margin-top: calc(var(--spacer)*3);
}

.header-button1,.header-button2 {
  display: table-cell;
  text-align: center;
  width: 40px;
  height: 60px;
  vertical-align: middle;
  position: absolute;
  background: #152d3a;
  color: white;
  opacity: 0.7;
  cursor: pointer;
  border: none;
}

.header-button1 {
  right: 40px;
}

.header-button2 {
  right: 0px;
}

.header-button1 i, .header-button2 i {
  position: absolute;
  top: 23px;
  right: 15px;
}

.header-button {
  height: 60px;
  width: 96.1%;
  position: absolute;
  z-index: 99999;
  top: 50vh;
  margin-top: -30px;
}

.header-content {
  width: 100%;
}

.header-button1:hover,.header-button2:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px)  {
  .slider-image1,.slider-image2,.slider-image3 {
    height: 80vh;
  }
  .slider_square_button {
    margin-top: calc(var(--gutter)*12);
    margin-left: calc(var(--gutter)*2.9);
  }
  .header-button {
    top: 75.8vh;
  }
} 

