---
layout: layouts/home.njk
title: Quatuor Building
---

<div class="detail__page">
    <div class="detail__title">
        <h2>Informatie</h2>
        <div class="red_line"></div>
        <div class="header-text-lees-meer">
            <a class="read-more uppercase profiles" href="../../">terug naar projecten </a>
            <i class="arrow-red fa fa-long-arrow-right"></i>
        </div>
    </div>
    <div class="detail__maintext">
        <p>Befimmo plant een nieuw project, de Quatuor Building, om het huidige Noord Building gebouw dat afgebroken zou
            worden, te
            vervangen. Het nieuwe geheel (60.000 m²) zou bestaan uit vier autonome kantoorgebouwen die een
            architecturale
            eenheid
            vormen, in een ontwerp dat borg staat voor zeer grote flexibiliteit in de inrichting.</p>

        <p>Met het ontwerp van het gebouw mikt Befimmo op een BREEAM Outstanding certificatie in de Designfase.</p>

        <h3>bouwplaats</h3>
        <p>Boudewijnlaan - Kleine Ring, Brussel<p>

                <h3>client</h3>
                <p>Befimmo</p>

                <h3>architect</h3>

                <p>Jaspers-Eyers Architects</p>

                <h3>hoofdaannemer</h3>
                <p>As yet unknown</p>

                <h3>vloeroppervlakte</h3>
                <p>60.000 m²</p>

                <h3>bouwtijd</h3>

                <p>start werf: nog niet gekend <br>
                    einde werf: nog niet gekend</p>
    </div>
</div>
<div class="detail__content__images">
    <p>beelden: © Befimmo<p>
            <div class="detail__images">
                <div class="detail__image__hover1">
                    <div class="detail__image1"></div>
                </div>
                <div class="detail__image__hover2">
                    <div class="detail__image2"></div>
                </div>
            </div>
</div>

<div class="project__ontdek">
    <div class="project">
        <div class="project__hover">
            <div class="project__text">
                <div class="project__titleandcity">
                    <p>Mechelen</p>
                    <p>Tinelsite</p>
                </div>
                <div class="read-more read-more-color-white">
                    <a href="/case-3-establis-CedricDeBlanck/projecten/utilitair/quatuor-building">Lees meer <i
                            class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <picture>
            <img src=""> </picture>
    </div>
    <div class="project">
        <div class="project__hover">
            <div class="project__text">
                <div class="project__titleandcity">
                    <p>Kortrijk</p>
                    <p>Barco One Campus</p>
                </div>
                <div class="read-more read-more-color-white">
                    <a href="/case-3-establis-CedricDeBlanck/projecten/utilitair/quatuor-building">Lees meer <i
                            class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <picture>
            <img src=""> </picture>
    </div>
</div>