---
layout: layouts/home.njk
eleventyNavigation:
    key: over ons
    order: 2
title: over ons
scripts:
- /static/js/aboutus.js
- /static/js/loadjson.js
---
<div class="aboutus_diensten"></div>

<div class="aboutus_header">
    <div class="aboutus_content">
        <h2>over ons</h2>
        <div class="red_line"></div>
    </div>
    <div class="aboutus_header_blue_bg"></div>
    <div class="aboutus_header_image">
        <img src="../static/images/overonsheader.jpg" alt="">
    </div>
</div>
<div class="aboutus_text">
    <div class="aboutus_image"></div>
    <div class="aboutus_innertext">

        <h2>niet zomaar een stabiliteitsbureau</h2>
        <div class="red_line"></div>
        <p>In plaats van een bureau dat alsmaar breder mikt zonder goed afgesteld vizier, is Establis een bureau dat één
            iets beter en zelfs best doet: stabiliteitsberekeningen. Establis is een kennisbureau over stabiliteit.
            Establis ademt stabiliteit. Die focus laat ons toe om van onze mensen specialisten te maken en ze mee te
            laten draaien als belangrijke en gewaardeerde schakels in grotere projecten. Maar stabiliteit is niet enkel
            een zaak van projecten en gebouwen. Het gaat om samenwerking tussen mensen. Daarom koesteren we onze
            medewerkers en zetten we maximaal in op coaching en opleiding.
        </p>
    </div>
</div>

<div class="aboutus_text_section2">
        <h2> stabiele relaties voor stabiele oplossingen </h2>
        <div class="red_line"></div>
        <p> Om werk te maken van stabiele oplossingen, werken we aan stabiele relaties. In de eerste plaats met onze
            <span>klanten.</span> We werken dan ook graag voor klanten die je niets wijs kan maken. Klanten waarmee je
            in alle openheid
            en transparantie kan werken. Klanten waarvoor wij een belangrijke schakel zijn in een groter bouwdossier of
            project. In die omgeving zijn we op ons best. In een omgeving waar technische en procesmatige vraagstukken
            de
            dienst uitmaken en waar onze tips en adviezen in iedere fase van het project worden gewaardeerd.</p>

        <p>Stabiele relaties bouwen we uit dankzij onze <span>projectleiders</span>. Van bij de start bij Establis
            worden ze getraind om
            proactief te handelen, initiatief te nemen en empathie aan de dag te leggen. Terugkoppeling met “den buro”
            is
            dus niet altijd nodig om snelle beslissingen op de werf of werfvergadering te nemen. Onze projectleiders
            werken
            met teams die ze zelf aansturen. Die teams zijn de cellen van de Establiskorf. Creatieve units waarin
            diverse
            specialisten werken en die alle aspecten van een project coveren. Denk aan planning, budget, uitvoering en
            oplevering. En die teams zijn uiteraard multi-inzetbaar. Omdat ze niet gevormd zijn rond één competentie
            zijn ze
            uiterst flexibel en wendbaar. </p>

        <p>Bij Establis zijn cijfers en exacte wetenschap niet de essentie. De focus op menselijk kapitaal is dat wel.
            Op
            elk vlak willen we een klik. Niet alleen met de eigen mensen, maar ook met de klanten. Dankzij die stabiele
            relaties kunnen we werk maken van stabiele oplossingen.</p>

        </p>
</div>

