---
layout: layouts/home.njk
eleventyNavigation:
    key: werken bij ons
    order: 5
title: werken bij ons
---
<div class="container__1000">
    <div class="werken_bij_ons">
        <h2>6 redenen om je bij <br> ons team te voegen</h2>
        <div class="red_line"></div>

        <p>Hier is alvast één reden: omdat je net als wij gepassioneerd bent door alles wat met stabiliteit te maken
            heeft.
            Maar dat is niet de essentie. De essentie is dat onze medewerkers op een duurzame manier met het bedrijf
            kunnen
            meegroeien. Op alle vlakken. Hoe we dat doen, vind je hieronder terug.</p>
    </div>

    <div class="reasons"></div>

    <div class="overtuigd_bottom">
        <div class="overtuigd">
            <h2>overtuigd?</h2>
            <div class="red_line"></div>
        </div>
        <div class="overtuigd_contact">


            <p>Solliciteer dan nu! <a href="mailto:jobs@establis.eu">jobs@establis.eu</a> </p>

            <p>Bij Establis kunnen we heel wat mensen gebruiken.</p>
            <div class="profielen">
                <h4>profielen</h4>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase profiles" href="#">projectleider </a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase profiles" href="#">stabiliteitsontwerper </a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase profiles" href="#">BIM-ontwerper voor Roeselare </a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="werken_bij_ons_image">
</div>