---
layout: layouts/home.njk
title: Quatuor Building
---

<div class="detail__page">
    <div class="detail__title">
        <h2>Informatie</h2>
        <div class="red_line"></div>
        <div class="header-text-lees-meer">
            <a class="read-more uppercase profiles" href="../../">terug naar projecten </a>
            <i class="arrow-red fa fa-long-arrow-right"></i>
        </div>
    </div>

    <div class="detailpageindustrieel"></div>
</div>
<div class="ontdek__title">
<h2>Ontdek onze projecten</h2>
<div class="red_line"></div>
</div>
<div class="project__ontdek">
    <div class="project__detailontdek">
        <a class="project"href="/case-3-establis-CedricDeBlanck/projecten/project-detail?project-id=19">

        <div class="project__hover">
            <div class="project__text">
                <div class="project__titleandcity">
                    <p>Mechelen</p>
                    <p>Tinelsite</p>
                </div>
                <div class="read-more read-more-color-white">
                    <a href="/case-3-establis-CedricDeBlanck/projecten/project-detail?project-id=7">Lees meer <i
                            class="fa fa-long-arrow-right"></i></a>
                        
                </div>
            </div>
        </div>
            <img src="http://www.establis.eu/sites/default/files/styles/project_random_large/public/project/top/main/4934_tinelsite_Beeld_%20Poirot_2_3.jpg?itok=f3z0m14Z">
            </a>
    </div>
    
    <div class="project__detailontdek">
    <a class="project"href="/case-3-establis-CedricDeBlanck/projecten/project-detail?project-id=19">
        <div class="project__hover">
            <div class="project__text">
                <div class="project__titleandcity">
                    <p>Kortrijk</p>
                    <p>Barco One Campus</p>
                </div>
                <div class="read-more read-more-color-white">
                    <a href="/case-3-establis-CedricDeBlanck/projecten/project-detail?project-id=19">Lees meer <i
                            class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
            <img src="http://www.establis.eu/sites/default/files/styles/project_random_large/public/project/top/main/_63I0911.jpg?itok=9c8SMYe">
                </a>
    </div>
    </a>
</div>