---
layout: layouts/home.njk
title: stabiliteitsontwerper
---


<div class="jobs__title">
    <h2>profiel - stabiliteitsontwerper</h2>
    <div class="red_line"></div>
</div>
<div class="jobs__total">
    <div class="jobs_column_1">
        <h3>wat doet de stabiliteitsontwerper?</h3>

        <ul>
            <li>maakt de stabiliteitsberekeningen van structuren en de bijhorende lastenboeken en ramingen</li>
            <li>maakt stabiliteitsplannen en meetstaten op</li>
            <li>controleert plannen</li>
            <li>brieft helder de berekeningen aan de BIM-ontwerper</li>
            <li>meldt pro-actief knelpunten en problemen aan de projectleider
            </li>
        </ul>
        <h3>welke verantwoordelijkheden heeft de stabiliteitsontwerper?</h3>
        <ul>
            <li>verantwoordelijkheid voor de correctheid van de stabiliteitsberekeningen van de individuele elementen</li>
        </ul>

        <h3>waar staat de stabiliteitsontwerper binnen Establis?</h3>

        <p>Als stabiliteitsontwerper werk je samen in team met de projectleider en een BIM-ontwerper. Je rapporteert in eerste instantie aan de projectleider.<p>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase profiles" href="../">Ga terug</a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
    </div>
    <div class="jobs_column_2">
        <h3>welke opleiding genoot je als stabiliteitsontwerper? </h3>
        <ul>
            <li>burgerlijk ingenieur / master toegepaste ingenieurswetenschappen bouwkunde</li>
            <li>industrieel ingenieur / master industriële wetenschappen bouwkunde</li>
        </ul>

        <h3>wat kan Establis jou bieden?</h3>
        <ul>
            <li>een open, stimulerende omgeving, met grote aandacht voor kwaliteit, teambuilding en work-life balance
            </li>
            <li>alle nodige tools en opleidingen om succesvol te zijn in je job</li>
            <li>realistische doorgroeimogelijkheden in een groeiend bedrijf</li>
            <li>een aantrekkelijk salarispakket
        </ul>
        <h3>interesse?</h3>

        <p>contacteer Sarah Vanmaercke op +32 51 43 12 19 of <a
                href="mailto:svanmaercke@establis.eu">svanmaercke@establis.eu</a>
            <p>
    </div>
</div>

<div class="jobs__image">
    <img src="../../static/images/stabiliteitsontwerper.jpg" alt="">
</div>