---
layout: layouts/home.njk
eleventyNavigation:
key: home
order: 1
title: home
---

<div class="home_section_1">
    <div class="container">
        <div class="home_section_1_content">
            <div>
                <h2>
                    specialisten in <br> stabiliteit </h2>
                <div class="red_line"></div>
            </div>
            <div>
                <p>Bij Establis hebben we 1 duidelijke focus: stabiliteit. Daarom is ons bureau al vele jaren een
                    stevige en
                    gewaardeerde schakel in tal van bouwprojecten. Want met onze focus hebben we een duidelijk doel voor
                    ogen.
                    Voor onze klanten de beste en meest creatieve oplossingen bedenken in stabiliteit voor al wat ze
                    ondernemen.
                    Daarom hebben we ook de beste specialisten in huis. Projectleiders, gepassioneerd door stabiliteit,
                    die
                    tegelijk meedenken over alle aspecten van uw project.</p>

                <div class="read-more read-more-color-blue">
                    <a href="#">Lees meer <i class="fa fa-long-arrow-right"></i> </a></div>
            </div>
        </div>
    </div>
</div>
<div class="home_section_3">
    <div class="home_section_3_content">
        <div class="home_section_3_blue_bg"></div>
        <div class="innertext_section_3">
            <div class="section_3_number">
                <span>34</span>
            </div>
            <div class="innertext_section_3_content">
                <h2>redenen om op <br> ons te bouwen</h2>
                <div class="red_line"></div>
                <div class="read-more read-more-color-white">
                    <a href="#">Ontdek het team <i class="fa fa-long-arrow-right"></i> </a></div>
            </div>
        </div>
    </div>
    <div class="home_section_3_bg"></div>



</div>