---
layout: layouts/home.njk
eleventyNavigation:
    key: home
    order: 1
title: home
scripts:
- /static/js/slider.js
---


    <div class="slider">
        <div class="slidercontent">
            <div class="slider-image3"></div>
            <div class="header-text-top">
                <h2>stabiliteit ontmoet creativiteit</h2>
                <div class="red_line"></div>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase" href="#">Lees meer </a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="slidercontent">
            <div class="slider-image1"></div>

            <div class="header-text-top">
                <h2>onze focus op stabiliteit gaat verder</h2>
                <div class="red_line"></div>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase" href="#">Lees meer </a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
            </div>
        </div>

        <div class="slidercontent">
            <div class="slider-image2"></div>
            <div class="header-text-top">
                <h2>het kennisbureau voor stabiliteit</h2>
                <div class="red_line"></div>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase" href="#">Lees meer </a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
            </div>
        </div>





        <div class="header-content-blue">
            <div class="header-blue">

            </div>
        </div>
    </div>
    <div class="header-button">
        <button class="header-button1" onclick="plusSlides(-1)">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button class="header-button2" onclick="plusSlides(1)">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
    <div class="slider_square_button">
        <button class="dot" onclick="currentSlide(1)"></button>
        <button class="dot" onclick="currentSlide(2)"></button>
        <button class="dot" onclick="currentSlide(3)"></button>
    </div>
<div class="home_section_1">
    <div class="container">
        <div class="home_section_1_content">
            <div>
                <h2>
                    specialisten in <br> stabiliteit </h2>
                <div class="red_line"></div>
            </div>
            <div>
                <p>Bij Establis hebben we 1 duidelijke focus: stabiliteit. Daarom is ons bureau al vele jaren
                    een
                    stevige en
                    gewaardeerde schakel in tal van bouwprojecten. Want met onze focus hebben we een duidelijk
                    doel
                    voor
                    ogen.
                    Voor onze klanten de beste en meest creatieve oplossingen bedenken in stabiliteit voor al
                    wat ze
                    ondernemen.
                    Daarom hebben we ook de beste specialisten in huis. Projectleiders, gepassioneerd door
                    stabiliteit,
                    die
                    tegelijk meedenken over alle aspecten van uw project.</p>

                <div class="read-more read-more-color-blue">
                    <a href="./over-ons/">Lees meer <i class="fa fa-long-arrow-right"></i> </a></div>
            </div>
        </div>
    </div>
</div>
<div class="header-section-2">
    <div class="container">
        <div class="header-section-2-content">
            <div class="header-section-2-images">
                <div class="homepageimage1">
                    <img src="static/images/homepagefoto1.png" alt="">

                </div>
                <div class="homepageimages2and3">
                    <div class="firstimage">
                        <img src="static/images/homepagefoto2.jpg" alt="">
                    </div>
                    <div class="lastimage">
                        <img src="static/images/homepageimage3.JPG" alt="">

                    </div>
                </div>
                <div class="homepageimage4">
                    <img src="static/images/homepageimage4.jpg" alt="">

                </div>
            </div>
            <div class="header-section-title2">
                <h1>onze projecten</h1>
                <div class="red_line"></div>
                <div class="header-text-lees-meer read-more read-more-color-blue uppercase">
                    <a class="" href="./projecten/">Bekijk alle projecten <i class="arrow-red fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home_section_3">
    <div class="home_section_3_content">
        <div class="home_section_3_blue_bg"></div>
        <div class="innertext_section_3">
            <div class="section_3_number">
                <span>34</span>
            </div>
            <div class="innertext_section_3_content">
                <h2>redenen om op <br> ons te bouwen</h2>
                <div class="red_line"></div>
                <div class="read-more read-more-color-white">
                    <a href="./team/">Ontdek het team <i class="fa fa-long-arrow-right"></i> </a></div>
            </div>
        </div>
    </div>
    <div class="home_section_3_bg"></div>
</div>

<div class="home_section_4">
    <div class="home_section_4_content">
        <div class="innertext_home_section_4">
            <div class="home_section_4_title">
                <h1>wat is nieuw?</h1>
                <div class="red_line"></div>
            </div>
            <div class="home_section_4_innertext_content">
                <div class="home_section_4_image"></div>
                <div class="home_section_4_text">
                    <p class="time">
                        08 oktober 2019</p>
                    <h1>Green Solutions Awards 2019</h1>
                    <p class="grey">Tivoli GreenCity won de "Belgium District Users’ Choice Award" en de
                        "Belgium
                        Sustainable Construction Grand Prize" en gaat op 4 november naar de internationale
                        finale van de
                        Green Solutions Awards 2019 in Parijs. Lees meer over dit project in onderstaande links.
                        https://www.construction21.or...</p>
                    <div class="read-more read-more-color-blue">
                        <a href="./nieuws">Lees meer <i class="fa fa-long-arrow-right"></i> </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home_section_5">
    <div class="home_section_5_content">
        <div class="home_section_5_image"></div>
        <div class="innertext_section_5">
            <div class="home_section_5_title">
                <h2>jouw plaats bij <br> Establis?</h2>
                <div class="red_line"></div>
                <p>Werken in een open, stimulerende omgeving, met grote aandacht voor kwaliteit, teambuilding en
                    work-life balance? Graag alle nodige tools en opleidingen om succesvol te zijn in je job?
                    Realistische doorgroeimogelijkheden in een groeiend bedrijf met een aantrekkelijk
                    salarispakket? Bekijk dan snel onze vacatures.</p>
                <div class="read-more read-more-color-blue">
                    <a href="./werken-bij-ons/">Lees meer <i class="fa fa-long-arrow-right"></i> </a></div>
            </div>
        </div>
    </div>
</div>
<script src="{{ '/static/js/slider.js' | url}}"></script>
