---
layout: layouts/home.njk
eleventyNavigation:
    key: contact
    order: 8
title: contact
---
<div class="contact-title">
    <h2>contact</h2>
    <div class="red_line"></div>
</div>
<div class="contact-info">
    <div class="contact-roeselare">
        <h1>Establis Roeselare nv</h1>
        <p>Establis Roeselare nv</p>
        <p class="grey">Beversesteenweg 612 <br>
            8800 - Roeselare <br>
            <a href="http://www.google.be/maps">open in google maps</a></p>
        <p>+32 (0)51 43 12 00 <br>
            <a href="mailto:roeselare@establis.eu">roeselare@establis.eu</a>
            <p>
                <p class="grey">
                    BTW BE 0430 475 409 <br>
                    RPR Kortrijk<p>
    </div>
    <div class="g-fb-row-6">
        <div class="contact-antwerpen">
            <h1>Establis Antwerpen <br> bvba</h1>
            <p>Establis Antwerpen bvba</p>

            <p class="grey">Jan van Gentstraat 7 bus 201 <br> 2000 - Antwerpen <br>
                <a href="">open in google maps</a></p>

            <p>+32 (0)3 640 38 10 <br> <a href="mailto:antwerpen@establis.eu">antwerpen@establis.eu</a></p>
            <p>BTW BE 0895 940 203 <br>
                RPR Antwerpen</p>
        </div>
    </div>
</div>
<div class="map_detail">
    <div class="mapboxmap" id='map'></div>
</div>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<script src="{{ '/static/js/mapboxcontact.js' | url }}"></script>