:root {
  --color-white: rgba(252, 252, 252, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-grey-opacity: rgba(255,255,255,.3);
  --color-grey-500: #E6E6E6;
  --color-grey-300: #C6C6C6;
  --color-grey-600: #787878;
  --color-grey-text: #888;
  --color-grey-dark: #666;
  --color-blue:  #003cff;
  --color-blue-cyan: #152d3a;
  --color-light-blue: #0056b3;
  --color-red-active: #d4092d;

  --spacer: 12px;

  --font-size-h2: 50px;
  --font-size-h3: 25px;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-lato: 'Lato', sans-serif;
  --font-family-body: var(--font-family-roboto);
  --font-family-headings: var(--font-family-lato);
}