---
layout: layouts/home.njk
eleventyNavigation:
  key: duurzaamheid
  order: 7
title: duurzaamheid
---

<div class="aboutus_header">
    <div class="aboutus_content">
        <h2>over ons</h2>
        <div class="red_line"></div>
    </div>
    <div class="aboutus_header_blue_bg"></div>
    <div class="aboutus_header_image">
        <img src="../static/images/overonsheader.jpg" alt="">
    </div>
</div>