---
layout: layouts/home.njk
eleventyNavigation:
    key: duurzaamheid
    order: 7
title: duurzaamheid
---

<div class="aboutus_header">
    <div class="aboutus_content">
        <h2>onze visie op duurzaamheid</h2>
        <div class="red_line"></div>
    </div>
    <div class="aboutus_header_blue_bg"></div>
    <div class="aboutus_header_image">
        <img src="../static/images/duurzaamheidpage.jpg" alt="">
    </div>
</div>

<div class="duurzaamheid_text">
    <div class="duurzaamheid_content">
        <p>De stabiliteitsingenieur heeft meer impact op de <span>duurzaamheid</span> van een gebouw dan op het eerste zicht lijkt.
            Dat wordt duidelijk aan de hand van 3 vragen:</p>
            <ul>
            <li>wat en waar te bouwen?</li>
            <li>hoe te bouwen?</li>
            <li>al of niet bouwen?</li>
            </ul>
            <p>Maar om deze vragen te beantwoorden, moeten we eerst keuzes maken uit een set parameters. Kiezen voor de ene parameter kan een negatief effect hebben op een andere. Korte termijnvoordelen kunnen dan weer nadelig zijn voor een lange termijnvisie. Daarom is een holistische benadering van cruciaal belang. Daarom hameren we bij Establis op het belang van een geïntegreerd ontwerp door nauwe samenwerking tussen de verschillende actoren (bouwheer, architect, studiebureaus …).</p>

            <h3>wat en waar te bouwen?</h3>
            <p>Sociale, economische en demografische overwegingen bepalen wat en waar we bouwen. Ontwerpers hebben een kleinere impact. Establis speelt wel een ondersteunende rol spelen bij het beantwoorden van deze vragen. Denk maar aan het bouwen op brownfields.</p>

            <h3>hoe te bouwen?</h3>
            <p>Op de vraag hoe er gebouwd wordt, hebben we als stabiliteitsingenieur de meeste impact. Bouwmaterialen en  bouwprocessen zijn voor ons cruciale factoren. Wat <span>bouwmaterialen</span> en duurzaamheid betreft, heeft Establis aandacht voor:</p>
            <ul>
            <li>optimale berekeningen zodat de minimale secties en hoeveelheden bereikt worden in functie van het programma van eisen en daaruit voortvloeiende belastingen</li>
            <li>gebruik van gerecycleerde of recycleerbare materialen</li>
            <li>materialen voorstellen van duurzame bronnen (voor beton houdt dit bv. een beperking van het gehalte aan portlandcement in)</li>
            </ul>

            <p>Uiteraard doen we dit vanuit een holistische benadering zodat de impact van de voorgestelde keuzes ruimer dan de structuur en de constructiefase zelf bekeken wordt.</p>

            <p>Een duurzame visie op het bouwproces omhelst onder meer aandacht voor <span>afvalbeheersing</span> en <span>beperking van hinder</span> op de buurt:</p>

            <ul>
            <li>afvalbeheersing doen we door te zien welke afbraakmaterialen op de site zelf we kunnen hergebruiken (bv. als onderfundering). Of door ze te laten sorteren voor recyclage of hergebruik.</li>
            <li>de hinder op de buurt kan beperkt worden door bv. een maximale keuze voor prefab zodat de activiteiten in situ korter worden, trillingsvrije funderingssystemen, …</li>
            </ul>
            <p>Verder ondersteunen we de andere ontwerpers op het vlak van energie-efficiëntie (betonkernactivering, zonnepanelen, …), daglichttoetreding (secties van geveldraagstructuur), akoestiek (wandenopbouw, akoestische massa), …</p>

            <h3>al of niet bouwen?</h3>

            <p>Het kan interessant zijn (niet alleen voor duurzaamheid) om de renovatie van een bestaand gebouw (of delen ervan) te overwegen. De stabiliteitsingenieur speelt hierin een belangrijke rol. Hij moet voldoende aandacht besteden aan onderzoek van de bestaande structuren en plannen om tot een gefundeerd advies te komen over de mogelijke hergebruikwaarde van het bestaand gebouw.</p>

            <p>Samen met de architect zal de stabiliteitsingenieur de structuur van een nieuwbouw zo proberen te ontwerpen dat die voldoende flexibel is voor eventuele andere functies. Dit flexibel ontwerp mag wel niet leiden tot een overmatig materiaalgebruik. Dan kan de mogelijke (onzekere) lange termijnwinst vervliegen door het (zekere) extra materiaalverbruik.</p>

            <p>Kunnen we een nieuwbouw niet in zijn geheel hergebruiken, dan streven we ernaar om hergebruik van de elementen zo makkelijk mogelijk te maken. Dit kan door ‘natte’ in-situ knopen te vermijden. Met andere woorden, door de constructie in de mate van het mogelijke demonteerbaar te maken én door een duidelijk en voldoende gedetailleerd dossier op te maken (stabiliteitsnota met alle aannames, belastingen, …, een duidelijk as-built dossier). Vandaag is de tweedehandsmarkt van bouwelementen zoals balken en kolommen heel beperkt, maar niets sluit uit dat daar in de toekomst (bv. door druk vanuit de overheid, materiaaltekorten, …) verandering in komt.</p>
    </div>
</div>