.duurzaamheid_text {
  width: 1000px;
  margin: 0 auto;
  color: var(--color-grey-text);
  margin-top: calc(var(--gutter)*10);
}

.duurzaamheid_content span {
  font-weight: bold;
  color: var(--color-grey-dark);
}

.duurzaamheid_content ul {
  list-style: circle;
  margin-left: calc(var(--spacer) + 3px);
  margin-bottom: calc(var(--gutter) - 10px);
}

.duurzaamheid_text h3 {
  color: var(--color-blue-cyan);
  margin-bottom: var(--spacer);
  font-size: 25px;
}

.duurzaamheid_content li {
  margin-bottom: var(--spacer);
}

.duurzaamheid_content p:last-child {
  margin-bottom: calc(var(--gutter)*7);
}

@media only screen and (max-width: 1200px)  {
  .duurzaamheid_content {
    width: 80vw;
    margin: auto var(--gutter);
  }
  .aboutus_header_image img {
    height: 500px;
  }
  .aboutus_header_blue_bg {
    height: 500px;
  }
  .duurzaamheid_text {
    margin-top: calc(var(--gutter)*4);
  }
} 


@media only screen and (max-width: 800px)  {
  .duurzaamheid_content {
    width: 80vw;
  }
  .aboutus_header_image img {
    height: 300px;
  }
  .aboutus_header_blue_bg {
    width: 100%;
    height: 300px;
  }
  .duurzaamheid_text {
    margin-top: calc(var(--gutter)*3);
  }
} 

@media only screen and (max-width: 600px)  {
  .duurzaamheid_content {
    width: 80vw;
  }
  .aboutus_header_image img {
    height: 200px;
  }
  .aboutus_header_blue_bg {
    height: 100%;
    height: 200px;
  }
} 