---
layout: layouts/home.njk
title: nieuws
---

<div class="news__main">
    <div class="news__categories">
        <div class="news__navtitle">
            <h3>Categorie</h3>
        </div>
        <ul>
            <a href="../"><li>overzicht</li></a>
            <a href="#"><li class="active__news">nieuws</li></a>
            <a href="../pers"><li>pers</li></a>
        </ul>
    </div>
    <div class="news__total">
        <div class="news__title">
            <h2>nieuws</h2>
            <div class="red_line"></div>
        </div>
        <div class="nieuws"></div>
        <ul>
            <a class="newsactive" href="#">
                <li>1</li>
            </a>
            <a href="#">
                <li>2</li>
            </a>
            <a href="#">
                <li>3</li>
            </a>
            <a href="#">
                <li>4</li>
            </a>
            <a href="#">
                <li>5</li>
            </a>
            <a href="#">
                <li>6</li>
            </a>
            <a href="#">
                <li>7</li>
            </a>
            <a href="#">
                <li>8</li>
            </a>
            <a href="#">
                <li>9</li>
            </a>
                <li class="news__dots">...</li>
            <a href="#">
                <li>Volgende ›</li>
            </a>
            <a href="#">
                <li>Laatste »</li>
            </a>
        </ul>
    </div>
</div>