---
layout: layouts/home.njk
title: pers
---
<div class="header_mobile">
    <div class="mobile_top btn-toggle">
        <h3>Categorie</h3>
        <i class="fa fa-angle-down"></i>
    </div>
    <div class="filter-nav">
        <ul class="nav_links">
            <li><a href="../../">overzicht</a></li>
            <li><a href="../../nieuws">nieuws</a></li>
            <li><a href="../">pers</a></li>
        </ul>
    </div>
</div>
<div class="news__main">
    <div class="news__categories">
        <div class="news__navtitle">
            <h3>Categorie</h3>
        </div>
        <ul>
            <a href="../../">
                <li>overzicht</li>
            </a>
            <a href="../../nieuws">
                <li>nieuws</li>
            </a>
            <a href="../">
                <li>pers</li>
            </a>
        </ul>
    </div>

<div class="detailpagepers"></div>

<script src="{{ '/static/js/mobile_nav.js' | url}}"></script>
