---
layout: layouts/home.njk
title: utilitair
---

<div class="project__main">
    <div class="project__categories">
        <div class="project__navtitle">
            <h3>projecten categorie</h3>
        </div>
        <ul>
            <a href="../"><li>overzicht</li></a>
            <a href="../renovatie/"><li>renovatie</li></a>
            <a href="../residentieel/"><li>residentieel</li></a>
            <a href="#"><li class="active__project">utilitair</li></a>
            <a href="../ppsdbfm"><li>PPS/DBFM</li></a>
            <a href="../industrieel/"><li>industrieel</li></a>
        </ul>
    </div>
    <div class="project__total">
        <div class="project__title">
            <h2>utilitair</h2>
            <div class="red_line"></div>
        </div>
        <div class="utilitair"></div>
    </div>
</div>