---
layout: layouts/home.njk
title: BIM-ontwerper
---


<div class="jobs__title">
    <h2>profiel - BIM-ontwerper voor Roeselare</h2>
    <div class="red_line"></div>
</div>
<div class="jobs__total">
    <div class="jobs_column_1">
        <h3>wat doet de BIM-ontwerper?</h3>

        <ul>
            <li>maakt stabiliteitsplannen (lay-out, bekisting, wapening, details, ...) in een BIM-omgeving op basis van de berekeningen van de stabiliteitsingenieur en architectuurplannen, ...</li>
            <li>ziet plannen na van derden (bv. prefabfabrikant) op vlak van conformiteit met de stabiliteitsplannen</li>
            <li>maakt meetstaten op basis van de stabiliteitsplannen</li>
        </ul>
        <h3>welke verantwoordelijkheden heeft de BIM-ontwerper?</h3>
        <ul>
            <li>verantwoordelijk voor het afleveren van duidelijke en leesbare plannen en meetstaten waar alle stabiliteitselementen begrijpelijk en eenvoudig op terug te vinden zijn</li>
            <li>brengt knelpunten die bovenkomen bij het uittekenen van de plannen, in kaart</li>
        </ul>

        <h3>waar staat de BIM-ontwerper binnen Establis?</h3>

        <p>Als BIM-ontwerper werk je samen in team met de projectleider en een stabiliteitsontwerper. Je rapporteert aan de projectleider en de stabiliteitsontwerper.<p>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase profiles" href="../">Ga terug</a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
    </div>
    <div class="jobs_column_2">
        <h3>welke opleiding genoot je als BIM-ontwerper?</h3>
        <ul>
            <li>bachelor in de industriële wetenschappen - bouw</li>
            <li>hoger beroepsonderwijs in de industriële wetenschappen - bouw</li>
            <li>3e graad technisch secundair onderwijs - bouwtechnieken - 7e jaar</li>
        </ul>

        <h3>wat kan Establis jou bieden?</h3>
        <ul>
            <li>een open, stimulerende omgeving, met grote aandacht voor kwaliteit, teambuilding en work-life balance
            </li>
            <li>alle nodige tools en opleidingen om succesvol te zijn in je job</li>
            <li>realistische doorgroeimogelijkheden in een groeiend bedrijf</li>
            <li>een aantrekkelijk salarispakket
        </ul>
        <h3>interesse?</h3>

        <p>contacteer Sarah Vanmaercke op +32 51 43 12 19 of <a
                href="mailto:svanmaercke@establis.eu">svanmaercke@establis.eu</a>
            <p>
    </div>
</div>

<div class="jobs__image">
    <img src="../../static/images/BIM-ontwerper.jpg" alt="">
</div>