<header class="wrapper wrapper--header">
    <div class="g-fb-container-fluid">
        <div class="g-fb-row">
            <div class="g-fb-col-6">
                <h1 class="logo">
                    <a href="/" title="Back to the homepage of Establis"></a>
                </h1>
            </div>
            <div class="g-fb-col-6">
                <nav class="main-nav">
                   {%include "components/navigation.njk" %}
                </nav>
            </div>
        </div>
    </div>
</header>





