---
layout: layouts/home.njk
title: Quatuor Building
---

<div class="detail__page">
    <div class="detail__title">
        <h2>Informatie</h2>
        <div class="red_line"></div>
        <div class="header-text-lees-meer">
            <a class="read-more uppercase profiles" href="../../">terug naar projecten </a>
            <i class="arrow-red fa fa-long-arrow-right"></i>
        </div>
    </div>

    <div class="detailpage"></div>

<div class="project__ontdek">
    <div class="project">
        <div class="project__hover">
            <div class="project__text">
                <div class="project__titleandcity">
                    <p>Mechelen</p>
                    <p>Tinelsite</p>
                </div>
                <div class="read-more read-more-color-white">
                    <a href="/case-3-establis-CedricDeBlanck/projecten/utilitair/quatuor-building">Lees meer <i
                            class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <picture>
            <img src=""> </picture>
    </div>
    <div class="project">
        <div class="project__hover">
            <div class="project__text">
                <div class="project__titleandcity">
                    <p>Kortrijk</p>
                    <p>Barco One Campus</p>
                </div>
                <div class="read-more read-more-color-white">
                    <a href="/case-3-establis-CedricDeBlanck/projecten/utilitair/quatuor-building">Lees meer <i
                            class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <picture>
            <img src=""> </picture>
    </div>
</div>