---
layout: layouts/home.njk
title: Project
---

<div class="detail__page">
    <div class="detail__title">
        <h2>Informatie</h2>
        <div class="red_line"></div>
        <div class="header-text-lees-meer">
            <a class="read-more uppercase profiles" href="../">terug naar projecten </a>
            <i class="arrow-red fa fa-long-arrow-right"></i>
        </div>
    </div>

    <div class="detailpage"></div>
</div>
<div class="ontdek__title">
<h2>Ontdek onze projecten</h2>
<div class="red_line"></div>
</div>
<div class="random-project"></div>