.contact-info p {
  color: var(--color-grey-text);
}

.contact-info h1 {
  font-size: 23px;
  color: var(--color-blue-cyan);
  text-transform: uppercase;
  margin-bottom: var(--spacer);
}

.contact-info a {
  color: var(--color-blue-cyan);
}

.contact-info {
  display: flex;
  width: 650px;
  justify-content: space-between;
  margin-left: calc(var(--gutter)*16);
  margin-top: calc(var(--gutter) - 130px);
  margin-bottom: calc(var(--gutter)*2);
}

.contact-title {
  margin-left: calc(var(--gutter)*1.5);
  margin-top: calc(var(--gutter)*2);
  color: var(--color-blue-cyan);
}


#map {
  width: 96.1%;
  height: 600px;
}

.marker {
  background-image: url('../../images/mapbox_marker.png');
  background-size: contain;
  width: 50px;
  height: 50px;
  cursor: pointer;
}


@media only screen and (max-width: 1200px)  {
  .contact-info {
    margin: calc(var(--gutter)*2) calc(var(--spacer)*4.5);
  }

  .contact-roeselare {
    margin-bottom: calc(var(--gutter)*2);
  }
} 


@media only screen and (max-width: 800px)  {
  .contact-page, .contact-info {
    display: block;
  }

  .contact-info {
    margin: calc(var(--gutter)*2) calc(var(--spacer)*4.5);
  }

  .contact-roeselare {
    margin-bottom: calc(var(--gutter)*2);
  }
} 


