---
layout: layouts/home.njk
title: projectleider
---


<div class="jobs__title">
    <h2>profiel - projectleider</h2>
    <div class="red_line"></div>
</div>
<div class="jobs__total">
    <div class="jobs_column_1">
        <h3>wat doet de projectleider?</h3>

        <ul>
            <li>legt het stabiliteitsconcept van zijn/haar dossiers vast</li>
            <li>maakt lastenboeken en ramingen op</li>
            <li>controleert de plannen op vlak van stabiliteit en rekennota's</li>
            <li>onderhoudt externe contacten</li>
            <li>doet de werfopvolging</li>
            <li>beheert het projectbudget a.d.h.v. ingeschatte uren</li>
            <li>stuurt zijn/haar intern team aan</li>
        </ul>
        <h3>welke verantwoordelijkheden heeft de projectleider?</h3>
        <ul>
            <li>eindverantwoordelijkheid over zijn/haar projecten</li>
            <li>heldere projectcommunicatie binnen het interne team</li>
        </ul>

        <h3>waar staat de projectleider binnen Establis?</h3>

        <p>Als projectleider word je verantwoordelijk voor jouw eigen team dat bestaat uit een stabiliteitsontwerper en
            een BIM-ontwerper. Je rapporteert onmiddellijk aan de directie.<p>
                <div class="header-text-lees-meer">
                    <a class="read-more uppercase profiles" href="../">Ga terug</a>
                    <i class="arrow-red fa fa-long-arrow-right"></i>
                </div>
    </div>
    <div class="jobs_column_2">
        <h3>welke opleiding genoot je als projectleider?</h3>
        <ul>
            <li>burgerlijk ingenieur / master toegepaste ingenieurswetenschappen bouwkunde</li>
            <li>industrieel ingenieur / master industriële wetenschappen bouwkunde</li>
            <li>minstens 5 jaar ervaring in een studiebureau</li>
        </ul>

        <h3>wat kan Establis jou bieden?</h3>
        <ul>
            <li>een open, stimulerende omgeving, met grote aandacht voor kwaliteit, teambuilding en work-life balance
            </li>
            <li>alle nodige tools en opleidingen om succesvol te zijn in je job</li>
            <li>realistische doorgroeimogelijkheden in een groeiend bedrijf</li>
            <li>een aantrekkelijk salarispakket
        </ul>
        <h3>interesse?</h3>

        <p>contacteer Sarah Vanmaercke op +32 51 43 12 19 of <a
                href="mailto:svanmaercke@establis.eu">svanmaercke@establis.eu</a>
            <p>
    </div>
</div>

<div class="jobs__image">
    <img src="../../static/images/projectleider.jpg" alt="">
</div>